@model ForumsUnknown.Models.TableCountsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Page";
}

<div class="container">
    <h2 class="display-2">@ViewBag.Title</h2>
    <br />
    <div class="d-flex justify-content-start">
        <div class="bg-dark p-3 user btn btn-dark">
            <h4 class="display-4">Users: <span class="text-danger">@(@Model.UserCount - 1)</span></h4>
        </div>
        <div class="bg-dark mx-3 p-3 post btn btn-dark">
            <h4 class="display-4">Posts: <span class="text-danger">@Model.PostCount</span></h4>
        </div>
        <div class="bg-dark mx-3 p-3 feedback btn btn-dark">
            <h4 class="display-4">Feedbacks: <span class="text-danger">@Model.FeedbackCount</span></h4>
        </div>
    </div><br />

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        //var cards = document.querySelectorAll(".card");
        var user = document.querySelector(".user");
        var post = document.querySelector(".post");
        var feedback = document.querySelector(".feedback");

        user.addEventListener("click", function () {
            window.location.href = '/Admin/Users';
        });

        post.addEventListener("click", function () {
            window.location.href = '/Admin/Posts';
        });

        feedback.addEventListener("click", function () {
            window.location.href = '/Admin/Feedbacks';
        })
    });
</script>

