/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


/* MY CSS */
.big-text {
    font-size: 120px;
}

body {
    background-color: black;
    color: white;
}

.brawler-regular {
    font-family: "Brawler", serif;
    font-weight: 400;
    font-style: normal;
}

.brawler-bold {
    font-family: "Brawler", serif;
    font-weight: 700;
    font-style: normal;
}


/* My own css */

.custom-highlight {
    transition: box-shadow .2s;
}

.custom-highlight:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px rgb(255, 255, 255);
}