@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <div class="container col-md-6">
        <h1 class="text-center text-highlight">Contact Us</h1>
        <p class="text-center">We'd love to hear from you! Whether you have a question about the site, feedback, or just want to share your thoughts, feel free to get in touch with us using the information below.</p>

        <div class="row">
            <div class="text-center">
                <div class="contact-info">
                    <h3 class="text-highlight">Email</h3>
                    <p>contact@forumsunknown.com</p>

                    <h3 class="text-highlight">Phone</h3>
                    <p>(333) 666-7777</p>

                    <h3 class="text-highlight">Address</h3>
                    <p>Sanciangko St., <br>Cebu City 6000</p>
                </div>
            </div>
        </div>
    </div>
</main>